<link rel="stylesheet" type="text/css" href="/css/main1.css">

<form action="/like" method="post">
  <input class="button" type="submit" name="<%= @question.id %>" value="like <%= @question.likes %>">
</form>

